@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?63210088');
  src: url('../font/fontello.eot?63210088#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?63210088') format('woff'),
       url('../font/fontello.ttf?63210088') format('truetype'),
       url('../font/fontello.svg?63210088#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root{
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --hot-magenta: #e959c5;
  --white: #fff;

  --font-family-headings: 'Poppins', sans-serif;
  --font-family-body: 'Open Sans', sans-serif;
  --font-size: 16px;
  --line-height: 26px;

  --padding: 2rem;
  --margin: 1rem;
}

*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body{
  height: 100%;
  min-height: 100vh;
}

body{
  background-color: var(--violet);
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: var(--padding);
  font-family: var(--font-family-body);
  line-height: var(--line-height);

  text-align: center;
}

body,
p,
h1,
button{
  color: var(--white);
}

.main-container{
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;

  display: -ms-grid;

  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.main-container > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  grid-column: 1;
}

.main-container > *:nth-child(2){
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

.main-container > *:nth-child(3){
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

  .main-content{
    display: -ms-grid;
    display: grid;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
  }

    .main-header{
      padding:var(--padding);
      text-align: left;
      padding-left: 0;
    }

    .image-container{
      padding-bottom: var(--padding);
    }

      .image-hero > img{
        width: 100%;
      }

    .text-container{
      padding-top: var(--padding);
    }

      h1.title{
        font-family: var(--font-family-headings);
        line-height: calc(var(--line-height) * 1.8);
        margin-bottom: var(--margin);

        white-space: pre-line;
      }
    
    .main-footer{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: var(--padding) 0;
    }

.cta{
  background-color: var(--white);
  padding: .7rem var(--padding);
  margin: calc(var(--margin) * 2) 0 0;

  border-radius: 2rem;
  text-decoration: none;
  color: var(--violet);
  display: inline-block;
  width: 90%;
  max-width: 15rem;

  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  text-align: center;
}

  .cta:hover{
    background-color: var(--soft-magenta);
    color: var(--white);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  .cta:active,
  .cta:focus{
    color: var(--soft-magenta);
  }

.social-icon{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.7rem;
  height: 2.7rem;
  padding: .5rem;
  margin: .5rem;

  border: 1px solid var(--white);
  border-radius: 50%;
  text-decoration: none;
  color: var(--white);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.social-icon:hover{
  color: var(--hot-magenta);
  border-color: var(--hot-magenta);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

  .social-icon:last-child{
    margin-right: 0;
  }

  .social-icon > img{
    height: 1.3rem;
    -webkit-filter: invert(1);
            filter: invert(1);
  }

  .icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
    font-size: 1.5rem;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

@media screen and (min-width: 998px){
  body{
    background-image: url("../images/bg-desktop.svg");
    text-align: initial;
  }

  .main-container{
    padding-left: var(--padding);
    padding-right: var(--padding);
  }

    .main-content{
      gap: 2.8rem;
      -ms-grid-columns: 1fr 1rem 1fr;
      grid-template-columns: 1fr 1fr;
    }

      .image-hero > img{
        width: 100%;
        height: 100%;
      }

    .main-footer{
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end;
      padding: 0 0 1rem;
    }

    .text-container{
      padding-top: 1.5rem;
    }

  .cta{
    width: auto;
    min-width: 12rem;
    margin: calc(var(--margin) * 1.5) 0;
  }
}

@media screen and (min-width: 1440px){
  .main-content{
    -ms-grid-columns: 3fr 2fr;
    grid-template-columns: 3fr 2fr;
  }
}